.titlefont {
    font-family: 'Times New Roman', Times, serif;
    font-size: 55px;
    letter-spacing: 1px;
    white-space: nowrap;
    color: black;
    position: absolute;
    top: -5px;
    left: 20px;
}

.backgroundDesign {
    background-color: #4e4d4d;
    color: #ffffff;
}

.navbar {
    background-color: #7c7b7b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
}

div.boxConatiner {
    opacity: 0.8;
    position: relative;
    margin-top: -0.5%;
    margin-bottom: 1%;
    left: 0%;
    background-color: #6d6d6d;
    padding: 30px;
    padding-right: 83%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

div.navbarText {
    color: #000000;
}

.container {
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #6d6d6d;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #000000;
    border-color: #000000;
}

.btn-primary:hover {
    background-color: #000000;
    border-color: #000000;
}

.form-control {
    border-color: #fafafa;
}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: background-size: cover background-position: center;
}

.backgroundDesign {
    background-image: url('./images/Mainpictwo.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}


/* drop box css */

#drop-area {
    border: 2px dashed #000000;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    margin-bottom: 20px;
}

#drop-area.highlight {
    border-color: rgb(0, 0, 0);
}

ul.a {
    list-style-type: circle;
}