.titlefont {
    font-family: 'Times New Roman', Times, serif;
    font-size: 55px;
    letter-spacing: 1px;
    white-space: nowrap;
    color: black;
    position: absolute;
    top: -5px;
    left: 20px;
}

.backgroundDesign {
    background-color: #4e4d4d;
    /* Black background */
    color: #ffffff;
    /* White text */
}

.navbar {
    background-color: #7c7b7b;
    /* Dark gray navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add shadow */
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    /* Add shadow */
    color: #000000;
    /* Black text */
}


/*.navbarContainer {
    
} */

div.boxConatiner {
    opacity: 0.8;
    position: relative;
    margin-top: -0.5%;
    margin-bottom: 1%;
    left: 0%;
    background-color: #7c7b7b;
    /* Dark gray container */
    padding: 30px;
    padding-right: 83%;
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Add shadow */
}

div.navbarText {
    color: #ffffff;
}

.container {
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #333333;
    /* Dark gray container */
    padding: 20px;
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add shadow */
}

.btn-primary {
    background-color: #000000;
    /* Blue button */
    border-color: #000000;
    /* Blue border */
}

.btn-primary:hover {
    background-color: #000000;
    /* Darker blue on hover */
    border-color: #000000;
    /* Darker blue border on hover */
}

.form-control {
    border-color: #ced4da;
    /* Light gray border */
}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: background-size: cover background-position: center;
}

.header{
    background-image: linear-gradient(rgba(0,0,0,0,5, rgba(0,0,0,0,0,5))), url("../images/similieLogo.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height:100px;
}